@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="groupName" name="组名称" underline="true"/>
                </div>
                <div class="col-sm-6">
                    <#input id="groupDescription" name="描述" underline="true"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" id="itemsArea">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">param私有值</label>
                        <div class="col-sm-10">
                            <#button btnCss="info" name="增加" icon="fa-plus" clickFun="LogParamGroupInfoDlg.addItem()"/>
                            <#button btnCss="info" name="预览" icon="fa-search" clickFun="LogParamGroupInfoDlg.preview()"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left:-0.25rem" >
                <div class="col-sm-10" id="previewAir" ></div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="LogParamGroupInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="LogParamGroupInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>
<script type="text/template" id="itemTemplate">
    <div class="row" name="logDetailItem" id="logDetailItem">
        <div class="form-group">
            <label class="col-sm-2 control-label">参数名</label>
            <div class="col-sm-3">
                <select name="参数名" id="paramKey" data-live-search="true" class="selectpicker show-tick form-control">
                    <option value="">参数名</option>
                </select>
            </div>
            <label class="col-sm-2 control-label">参数值</label>
            <div class="col-sm-3">
                <select name="参数值" id="paramValue" data-live-search="true" class="selectpicker show-tick form-control">
                    <option value="">参数值</option>
                </select>
            </div>
            <div class="col-sm-1">
                <#button btnCss="danger" name="删除" id="cancel" icon="fa-remove" clickFun="LogParamGroupInfoDlg.deleteItem(event)"/>
            </div>
        </div>
    </div>
</script>
<style>
    th{
        background-color: #f1f1f1;
        text-align: center;
    }
</style>
<style type="text/css">
    .btn-default {
        background-color: #ffffff;
        border-color: #c2c2c2;
        color: #101010;
    }

    .btn-default:hover {
        background-color: #ffffff;
        border-color: #c2c2c2;
        color: #101010;
    }

</style>
<script src="${ctxPath}/static/modular/bigdata/logParamGroup/logParamGroup_info.js"></script>
@}
