@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-12">
                    <#NameCon id="tag_classify_name" name="分类名称" underline="true"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <#NameCon id="tag_classify_describe" name="分类描述" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="KsUserTagClassifyManageInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="KsUserTagClassifyManageInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/bigdata/ksUserTagClassifyManage/ksUserTagClassifyManage_info.js"></script>
@}
